#home {
   position: relative;
   // background: url('../../assets/bgIMG.png');
   background-color: #CEAB93;
   background-size: cover;
   background-position: center;
   background-repeat: repeat;

   .app__header{
      padding: 0;

      .copyright{
         display: none;
      }
   }
}

.app__header{
   flex: 1;
   width: 100%;
   height: 100%;
   flex-direction: row;

   padding: 6rem 2rem 0;

   @media screen and (min-width: 2000px) {
      padding-top: 8rem;
   }

   @media screen and (max-width: 900px) {
      flex-direction: column;
   }

   @media screen and (max-width: 450px) {
      padding: 6rem 1rem 2rem;
   }
}


.app__header-info {
   flex: 0.65;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   height: 100%;

   @media screen and (max-width: 2000px) {
      width: 100%;
      margin-right: 0rem;
   }
}

.app__header-badge{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   flex-direction: column;

   .badge-cmp, .tag-cmp{
      padding: 1rem 2rem;
      margin-top: 3rem;
      border: var(--white-color);
      border-radius: 15px;
      flex-direction: row;
      width: auto;
      background-color: #dfe0df85;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur( 6.5px );
      -webkit-backdrop-filter: blur( 6.5px );
      // background: rgba( 237, 242, 248, 0.75 );
   }

   .tag-cmp{
      flex-direction: column;
      margin-top: 3rem;
      
      p{
         width: 100%;
         text-transform: uppercase;
         text-align: right;
      }
   }

   span{
      width: 37px;
      height: 85px;
      img{
         object-fit: cover;
         height: 100%;
         width: 100%;
      }
      @media screen and (min-width: 2000px) {
         height: 200px;
         width: 200px;
      }
   }

   @media screen  and (max-width: 965px) {
      justify-content: flex-start;
      align-items: flex-start;
   }
}


.app__header-circles{
   flex: 0.75;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
   height: 100%;
   margin-left: 1rem;

   div{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      // background-color: var(--white-color);
      // background-color: #b1a695b3;
      background-color: #dfe0df85;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur( 6.5px );
      -webkit-backdrop-filter: blur( 6.5px );

      img{
         width: 60%;
         height: 60%;
      }
   }
   div:nth-child(1){
      width: 90px;
      height: 90px;
   }
   div:nth-child(2){
      margin: 1.75rem;
      width: 120px;
      height: 120px;
   }
   div:nth-child(3){
      width: 70px;
      height: 70px;
   }

   @media screen and (min-width: 2000px) {
      div:nth-child(1){
         width: 400px;
         height: 400px;
      }
      div:nth-child(2){
         width: 170px;
         height: 170px;
      }
      div:nth-child(3){
         width: 200px;
         height: 200px;
      }
   }
   
   @media screen and (max-width:965px) {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 0;

      div{
         margin: 1rem;
      }
   }
}


.app__header-img{
   flex: 1;
   height: 100%;

   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   position: relative;

   img{
      width: 100%;
      height: 430px;
      object-fit: contain;
      // box-shadow: 2px 2px 2px #0000;
      @media screen and (min-width:2000px) {
         height: auto;
      }
   }
   img:first-child{
      animation: floating 2s alternate infinite ease-in-out;
   }
   div{
      position: absolute;
      width: 100%;
      height: 90px;
      border-radius: 50%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 37px;
      box-shadow:0px 88px 12px -18px rgba(0, 0, 0, 0.14), 0 89px 20px -13px rgba(0, 0, 0, 0.1);
      animation: shadow 2s alternate infinite linear;
      
   }

   .overlay_circle{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      height: 90%;
   }

   @media screen and (max-width:965px) {
      margin: 2rem 0 ;
      .overlay_circle{
         left: 50%;
         top: 54%;
         transform: translate(-50%, -50%) !important;
         width: 180%;
      }
   }
}


.canvas {
   z-index: 10000;
}
@keyframes floating {
   0%{
      transform: translateY(0px);
   }
   100%{
      transform: translateY(20px);
   }
}

@keyframes shadow {
   0%{
      width: 50%;
   }
   100%{
      width: 70%;
   }
}
